<html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Smart Rock | Home</title>
</head>

<body style="background-color:rgb(116, 65, 29);">
    <body>
        <text style="color: aliceblue; font-family: monospace; font-size: 70px;">Smart Rock - Home</text>
    </body>
    <hr style="border: none; height: 5px; background-color: rgb(205, 113, 48);">


    <div style="display: flex; justify-content: space-between;">
        <div>
            <p style="color: aliceblue; font-family: monospace; font-size: 50px; margin-right: 10px;">About your Smart Rock</p>
            <div style="background-color: rgb(205, 113, 48); margin-right: 10px; border-radius: 20px; display: flex;
            justify-content: center; flex-direction: column; align-items: center;">
                <p style="color: aliceblue; font-family: monospace; font-size: 40px;">Connect your Smart Rock</p>
                <form id="rockip" action="/" method="POST">
                    <input type="radio" id="motor" name="connection_mode" value="motor">
                    <label for="motor" style="color: aliceblue; font-family: monospace; font-size: 19px;">Motor Mode</label><br>
                    <input type="radio" id="wifi" name="connection_mode" value="wifi">
                    <label for="wifi" style="color: aliceblue; font-family: monospace; font-size: 19px;">Wifi IP Mode</label><br>
                    <label for="rockip" style="color: aliceblue; font-family: monospace; font-size: 19px;">Rock Motor PIN/Rock IP Address:</label>
                    <input type="text" id="rockip" name="ip" required>
                    <button type="submit" styl>Connect</button>
                </form>
                <p style="color: aliceblue; font-family: monospace; font-size: 30px;">{{dstatus}}</p>
            </div>
            <p></p>
            <a href="/menu" style="color: aliceblue; font-family: monospace; font-size: 40px;">Commands List</a>
        </div>
        <div>
            <p style="color: aliceblue; font-family: monospace; font-size: 50px; margin-right: 10px;">Your Smart Rocks Status</p>
            <div style="background-color: rgb(205, 113, 48); margin-right: 10px; border-radius: 20px; display: flex;
            justify-content: center; flex-direction: column; align-items: center;">
                <p style="color: aliceblue; font-family: monospace; font-size: 40px;">Companion Mode is {{dcomp}}</p>
                <p style="color: aliceblue; font-family: monospace; font-size: 40px; margin-bottom: -10px;">Your Smart Rock's Mood:</p>
                <p style="color: aliceblue; font-family: monospace; font-size: 40px;">{{dmood}}</p>
            </div>
        </div>
    </div>
</body>
</html>